<header class="d-flex justify-content-between align-items-center">
    <div class="ps-5">
        <img width="260" src="assets/img/logo4.svg" alt="Karina Barhumi">
    </div>
    <div class="right pt-3 pe-3">
        <h1 class="item-menu font2 text-color2 cursor h5">PROYECTOS</h1>
        <h1 class="item-menu font2 text-color2 cursor h5">SERVICIOS</h1>
        <h1 class="item-menu font2 text-color2 cursor h5">CLIENTES</h1>
        <h1 class="item-menu font2 text-color2 cursor h5">CONTACTO</h1>
    </div>
</header>