<div class="main bg-white">
    <app-header></app-header>

    <div class="d-flex mt-2 ps-5 m-0 pb-5">
        <div class="primary col-7 p-0 bg-color1" [ngStyle]="{'background-image': 'url(/assets/img/principal.jpg)'}">
            <div class="bar1 bg-color2"></div>
            <div class="bar2 bg-color3"></div>
        </div>
        <div class="right col row m-0 align-items-center">
            <div>
                <p class="title text-color4">KARINA BARHUMI</p>
                <p class="font2 font-300 f-16 pe-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus ducimus voluptatibus adipisci aperiam pariatur vero soluta modi omnis, ad accusantium alias cum tenetur dolores aliquam nulla, exercitationem incidunt neque doloremque.</p>
            </div>
        </div>
    </div>

    <div class="row m-0">
        
        <!-- <div class="images col-6 img1 image-left" [ngStyle]="{'background-image': 'url(/assets/img/DSC_2535.JPG)'}">
            <div class="shadow1"></div>
            <h1 class="text-white font-900">KB DESIGN</h1>
        </div> -->
        <div class="col-6 p-0">
            <div class="col-12 row m-0">
                <div class="images col-12 img1 image100" [ngStyle]="{'background-image': 'url(/assets/img/DSC_2529.JPG)'}">
                    <div class="shadow1"></div>
                    <h1 class="text-white font-900">KB DESIGN</h1>
                </div>
            </div>
            <div class="images col-12 img2" [ngStyle]="{'background-image': 'url(/assets/img/KEYPRESS.jpg)'}">
                <div class="shadow1"></div>
                <h1 class="text-white font-900">KB PRESS</h1>
            </div>
        </div>

        <div class="col-6 p-0">
            <div class="col-12 row m-0">
                <div class="images col-12 img1 image100" [ngStyle]="{'background-image': 'url(/assets/img/DSC_0184.jpg)'}">
                    <div class="shadow1"></div>
                    <h1 class="text-white font-900">KB HOME</h1>
                </div>
            </div>
            <div class="images col-12 img2" [ngStyle]="{'background-image': 'url(/assets/img/foto_11.jpg)'}">
                <div class="shadow1"></div>
                <h1 class="text-white font-900">KB VISUAL</h1>
            </div>
        </div>
    </div>
    

    
    
    <footer class="vh-100">
    
        <div class="sombra"></div>
        <div class="imagefooter" [ngStyle]="{'background-image': 'url(/assets/img/Img_1518.jpg)'}"></div>
    
        <div class="footer-content m-0">
            <h1 class="text-white font-900 f-60 p-5">KARINA<br>BARHUMI</h1>
            <ul class="list-unstyled p-5">
                <li class="text-white f-30 font-100 font2">998 101 616 / 961 443 717</li>
                <li class="text-white f-30 font-100 font2">contacto@karinabarhumi.pe</li>
                <li class="text-white f-30 font-100 font2">Lima, Perú</li>
            </ul>
            <div class="text-copy d-flex m-0 ">            
                <label class="text-white p-5 ">KARINA BARHUMI © 2021</label>
                <ul class="listul list-unstyled p-5 ms-5 d-flex m-0 align-items-center">
                    <li class="ms-2 text-white font-700">mail</li>
                    <li class="ms-2 text-white font-700">whastapp</li>
                    <li class="ms-2 text-white font-700">behance</li>
                    <li class="ms-2 text-white font-700">linkedin</li>
                    <li class="ms-2 text-white font-700">instagram</li>
                    <li class="ms-2 text-white font-700">dribble</li>
                    <li class="ms-2 text-white font-700">unsplash</li>
                </ul>
            </div>
        </div>
    
    </footer>
</div>

